
header {
    margin: 90px 0;
}

.artist-thump {
    width: 150px;
    height: auto;
    float: left;
    margin-right: 10px;
}   

.artist-albums {
    .weel {
        margin-bottom: 20px;
        overflow: auto;
        height: 400px;

        .album-thump {
            width: 100%;
        }
    }

    .album {
        text-align: center;
        background: #333;
        padding: 10px 20px;
        border: #666 1px solid;
    }
}